<h1>About Us</h1>

<p>
Oh my God<br/>
Jump<br/>
<br/>
<br/>
Welcome to the jungle, we got fun and games<br/>
We got everything you want, honey, we know the names<br/>
We are the people that can find whatever you may need<br/>
If you got the money, honey, we got your disease<br/>
<br/>
<br/>
In the jungle, welcome to the jungle<br/>
Watch it bring you to your shun-n-n-n-n-n-n-n-n-n-n-n, knees, knees<br/>
Mwah, ah, I wanna watch you bleed<br/>
<br/>
<br/>
Welcome to the jungle, we take it day by day<br/>
If you want it you're going to bleed, but it's the price you pay<br/>
And you're a very sexy girl, it's very hard to please<br/>
You can taste the bright lights, but you won't get there for free<br/>
<br/>
<br/>
In the jungle, welcome to the jungle<br/>
Feel my, my, my, my serpentine<br/>
Oh, ah, I wanna hear you scream<br/>
<br/>
<br/>
Moaning<br/>
<br/>
<br/>
Welcome to the jungle, it gets worse here everyday<br/>
You learn to live like an animal in the jungle where we play<br/>
If you got a hunger for what you see, you'll take it eventually<br/>
You can have anything you want, but you better not take it from me<br/>
<br/>
<br/>
In the jungle, welcome to the jungle<br/>
Watch it bring you to your shun-n-n-n-n-n-n-n-n-n-n-n, knees, knees<br/>
Mwah, I wanna watch you bleed<br/>
<br/>
<br/>
And when you're high, you never<br/>
Ever want to come down<br/>
So down, so down, so down, yeah<br/>
<br/>
<br/>
You know where you are?<br/>
You're in the jungle, baby<br/>
You're gonna die<br/>
<br/>
<br/>
In the jungle, welcome to the jungle<br/>
Watch it bring you to your shun-n-n-n-n-n-n-n-n-n-n-n, knees, knees<br/>
In the jungle, welcome to the jungle<br/>
Feel my, oh my, my, my serpentine<br/>
Jungle, welcome to the jungle<br/>
Watch it bring you to your shun-n-n-n-n-n-n-n-n-n-n-n, knees, knees<br/>
<br/>
<br/>
In the jungle, welcome to the jungle<br/>
Watch it bring you to your, it's going to bring you down, huh<br/>
</p>